.venv/
media/
staticfiles/
.env
db.sqlite3
db.sqlite3-journal
__pycache__/
*.pyc
*.pyo
.git/
.gitignore
.opencode/
design_system/
*.md
Dockerfile
docker-compose*.yml
docker-stack*.yml
.dockerignore
.claude
.DS_Store
site/
